<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-around center" >
      <button mat-icon-button fxLayoutAlign="center center" [routerLink]="['/quagga']">
        <mat-icon fontSet="fa" fontIcon="fa-barcode"></mat-icon>
        Quagga
      </button>
      <button mat-icon-button fxLayoutAlign="center center" [routerLink]="['/scanner']">
        <mat-icon fontSet="fa" fontIcon="fa-barcode"></mat-icon>
        ZXING
      </button>
    </div>
  </mat-toolbar>
</footer>
